<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Intentionally NO INTERNET permission. Probe data cannot be uploaded by this app. -->
    <queries>
        <package android:name="com.zing.zalo" />
    </queries>

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:label="PipSniper Zalo Probe"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ZaloNotificationListener"
            android:label="@string/listener_label"
            android:exported="false"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>
</manifest>
